.manage{
  padding: 10px;
}

.box{
  width: 100%;
  margin-top: 15px;
  height: 40px;
  border-radius: 5px;
  cursor:pointer;
  color:black;
  border:1px solid #ccc;
}

option{
  border: 1px solid black;
  border-radius: 5px;
}
