<div class="container">
  <div>
    <app-darkmode></app-darkmode>
  </div>

  <div>
    <ngx-charts-bar-vertical
    [view]="[1000,400]"
    [customColors]="customColor"
    [results]="saleData"
    [gradient]="true"
    [animations]="false"
    [tooltipDisabled]="true"
    [yAxis]="true"
    [showGridLines]="false"
    [noBarWhenZero]="false"
    style="fill: #007BFF;">
    </ngx-charts-bar-vertical>
  </div>
</div>

<div>
  <button (click)="submit()" >test</button>
  <button (click)="shuffle()" >shuffle</button>
</div>

